.category-landing{
    background: white;
    .jumbo{
        background-size: cover;
        h1{ font-size: 50px; margin-top: 50px;}
        h2{ font-size: 35px; font-style: underline;}
        .brand{
            margin-top: 50px;
            display: inline-block;
        }
    }
    &.category-landing-a{
        .jumbo{ 
            a{color: black;}
            .form-content{
                background: rgba(84,83,64,0.6); 
                padding: 30px;
            }
        }
    }
    &.category-landing-b{
        .right-side{ 
            padding: 0px 30px;
            color: white;
            background: rgba(84,83,64,0.6); 
        }
    }
    .call-now{
        p{
            font-size: 25px;
            font-weight: 900;
        }
    }
    .section-venues{
        background: $color-grey-super-light;
    }
}