.home{
    .card .img{
    	padding: 0px;
    	margin: 0px;
    	height: 450px;
    	@media (max-width: 1024px) {
    	  height: 350px;
    	}
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center center;
    }
    .card-middle-button{
      margin-top: -95px;
      position: relative;
      color: $color-text-light;
    }
}
