.mazonri-gallery{
    .hover-effect{
        height: 300px;
    }
    .img-mazonri{
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        border-radius: 0;
            img{
                visibility: hidden;
            }
            
    }
}

