.body-request{
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-text-light;
  margin-top: 60px;
  font-size: 12px;
  &.contact{
    background-color: $color-footer-dark;
    margin: 0px !important;
    padding: 10px;
  }
  input {
    font-size:10px;
  }
  textarea {
height: 255px;
    font-size: 10px;
    resize:none;
    border-radius: 0 !important;
  }
  .info{
    padding-top: 6rem !important;
  }
}
