.venue-layout{
    img{
        max-width: 100%;
        max-height: 500px;
    }
}
.horizontal-gallery{
    .card.img-slide{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        @media (max-width: 767px) {
            height: 200px;
        }
        border-radius: 0;
        img{
            visibility: hidden;
        }
    }
}
.venue-menu{
    ul{
        background: $color-footer-dark;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        a{
            letter-spacing: 2.6px;
            padding: 17px 16px;
            text-decoration: none;
        }
        a:hover{
            background: $color-background-light;
            color: $color-footer-dark !important;
        }
    }
}
// .acf-map{
//     -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
//     filter: sepia(100%);
// }