.btn{
  color: $color-text-light;
  background-color: $color-button;
  border-radius: 22.5px 22.5px;
  border: 0px;
  font-family: $font-text;
  font-weight: bold;
  vertical-align: middle;
  padding: 13px 55px;
  &:hover{
    background-color: $color-background-dark;
    color: white;
  }
  &:focus{
    background-color: $color-button;
  }
  &:active{
    background-color: $color-background-light;
  }
  &.form-control{
    &:hover{
      background-color: $color-background-light;
      color: Black;
    }
  }
}
.btw-l{
  height: 45px;
  font-size: 14px;
}
.btw-m{
  height: 45px;
  font-size: 13px;
}
.btw-s{
  height: 27px;
  font-size: 10px;
  border-radius: 13px 13px;
  font-weight: none;
}
.btw-xl{
  height: 45px;
  font-size: 13px;
  border-radius: 50px 50px;
}
.btn-navbar{
  color: $color-text-dark;
  background-color: $color-navbar;
  border: 0px;
  &:hover{
    background-color:  $color-navbar;
    border: 0px;
  }
  &:focus{
    background-color:  $color-navbar ;
    border: 0px;
  }
  &:active{
    background-color:  $color-navbar;
    border: 0px;
  }
}
