$color-button: #993399; //Purple
$color-stars: #ff9933; //Yellow
$color-text-light: #ffffff; //White
$color-text-dark: #000000; //Black
$color-menu-princial:#fce6f7;
$color-footer-dark: #58595b; // Grey 

//$color-grey-super-light: #fce6f7; //Pink
$color-background-dark: #F1DBEA; // Grey #

$color-grey-dark: #F1DBEA; // Grey #
$color-grey-light: #e0e1e2; // Grey #
$color-grey-super-light: #efedee; // Grey #

$formValidationColor: #ffb8b8;