$color-button: #993399; //Purple
$color-background-light: #ffccff; //Pink
$color-background-dark: #666666; // Grey
$color-navbar: #e8daeb; //Pink dark
$color-stars: #ff9933; //Yellow
$color-text-light: #ffffff; //White
$color-text-dark: #000000; //Black
$color-background-menu: #ffccff;
$color-menu-princial:#fce6f7;
