$color-button: #993399; //Purple
$color-background-dark: #F1DBEA; // Grey #
$color-navbar: #e8daeb; //Pink dark 58595b
$color-stars: #ff9933; //Yellow
$color-text-light: #ffffff; //White
$color-text-dark: #000000; //Black
$color-menu-princial:#fce6f7;
$color-footer-dark: #58595b; // Grey 
$color-grey-light: #e0e1e2; // Grey #

//$color-background-light: #fce6f7; //Pink
$color-background-light: #F1DBEA;

$formValidationColor: #ffb8b8;