li {
	list-style-type: none;
}
// CLASS
.menu-color{
	background-color: $color-background-menu;
	& a{
		color: black ;
	}
}
//
.nav-tabs{
	& .nav-link{
		border: 0px solid transparent;
		color: rgba(0, 0, 0, 1)!important;
		&.active{
			background-color: $color-menu-princial;

		}
	}
}
//
.menu-aditional{

}
//
.sub-menu{
	background-color: $color-footer-dark;
	&a{
		color:blue;
	}
	a:hover { color: #fff !important; }
}
//
.tab-content{
	background-color:  $color-menu-princial
}
//
.btw-down {
	font-size: 14px;
	font-style: bold;
	border-radius: 22.5px 22.5px;
	border: 0px;
	font-family: "Rufina", serif;
}
//
.nav-tabs {
	border-bottom: 0px solid #dee2e6;
}
//
.checked {
	color: orange;
}
//
.modal-dialog {
	max-width: 800px;
	margin: 30px auto;
	width:100%;
}
//
.modal-body {
	position:relative;
	padding:0px;
}
//
.close {
	position:absolute;
	right:-30px;
	top:0;
	z-index:999;
	font-size:2rem;
	font-weight: normal;
	color:#fff;
	opacity:1;
}
//
.footer-black{
	background-color: $color-footer-dark !important;
	color: $color-text-light;
	display: flex;
	justify-content: center;
	.card-img-top{margin-top: 27px;}
	.menu-item a{
		font-size: 15px;
		color: white;
	}
	a:hover { color: #fff !important; }
	p{
		font-size: 12px;
	}
	.mini-text{
		font-size: 8px;
	}
}
//
.card-content{
	background-color:  $color-menu-princial!important;
}
//
.mounted-image{
	margin-top:-60px;
	max-width:70px;
	width:70px;
	height:70px;
	border-radius: 50%;
}

.men-mobile{
	background-color:$color-button;
}
.navbar-light {
	.navbar-toggler {
	    color: rgba(0, 0, 0, 0.5);
	     border-color: rgba(0, 0, 0, 0);
	}
}
.footer-mobile{
	background-color: $color-footer-dark;
}
.logo-mobile-white{
	width: 20px;
}
.navbar-light {
	.navbar-toggler{
		color:$color-text-light
	}
}
.logo-mid{
	    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 20px;
    top: 4px;
}