.gform_body{
    .gform_fields{padding: 0px;}
    .gfield_label{
        width: 100%;
        margin-top: 10px;
    }.hidden_label label{
        display: none;
    }
    .ginput_container{ 
        width: 100%; 
        input, textarea{
            width: 100%; 
            padding: 5px;
        }
    }
}
.gform_footer{
    input[type=submit]{
        color: #ffffff !important;
        background-color: #993399;
        border-radius: 22.5px 22.5px !important;
        letter-spacing: 0.7px;
        border: 0px;
        font-family: "Rufina", serif;
        font-weight: bold;
        vertical-align: middle;
        padding: 10px 55px;
        font-size: 12px;
        margin-top: 15px;
        width: 100%;
    }
}
.gform_inline{
    .gform_body{
        display: inline-block;
    }
    .gform_footer{
        display: inline-block;
    }
}
.ui-datepicker{
    font-size: inherit;
    background: inherit;
    padding: 10px;
    select{ width: 50%; }
    .ui-datepicker-prev, .ui-datepicker-next{ 
        font-size: 75%;
        margin-bottom: 10px;    
        cursor: pointer; text-decoration: underline;
        position: absolute; top: 3px;
    }
    .ui-datepicker-prev{  left: 10px; }
    .ui-datepicker-next{  right: 10px; }
    .ui-datepicker-title{ margin-top: 15px; }
    .ui-datepicker-calendar a{color: $color-footer-dark;}
    .ui-datepicker-calendar td{
        background: #fff2fc;
        border: 3px solid $color-grey-super-light;
        text-align: center;
        font-size: 80%;
    }
    .ui-datepicker-calendar td:hover{
        background: white;
    }
}
.validation_error{
    background: $formValidationColor;
    padding: 6px;
    text-align: center;
}
.validation_message{
    color: $formValidationColor;
}