.home-image-slider{
    display: none;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    opacity: 1;
}

#home-slider{
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
	@media (min-width: $size-md) {
        background-size: cover;
        height: 720px;
	}
	@media (min-width: $size-xl) {
        height: 800px;
	}
}
