// BMW LOGO
#bmw-logo{ content: url("../img/bmw-logo/bmw-logo.svg"); }
#bmw-logo-purple{ content: url("../img/bmw-logo/bmw-logo-purple.svg"); }
#bmw-logo-white{ content: url("../img/bmw-logo/bmw-logo-white.svg"); }
#bmw-logo-white-alone{ content: url("../img/bmw-logo/bmw-logo-white-alone.svg"); }
#bmw-logo-dark{ content: url("../img/bmw-logo/bmw-logo-dark.svg"); }
// SOCIAL MEDIA
#facebook{ content: url("../img/social-logo/facebook.svg"); }
#instagram{ content: url("../img/social-logo/instagram.svg"); }
#pinterest{ content: url("../img/social-logo/pinterest.svg"); }
#twitter{ content: url("../img/social-logo/twitter.svg"); }
#youtube{ content: url("../img/social-logo/youtube.svg"); }
// OUR COSTUMERS LOGO
#bacardi{ content: url("../img/our-costumers/bacardi_FIX.svg"); }
#del-monte{ content: url("../img/our-costumers/del-monte_FIX.svg"); }
#nbc{ content: url("../img/our-costumers/nbc_FIX.svg"); }
#vikua-b{ content: url("../img/our-costumers/vikua-b.svg"); }
#taima-b{ content: url("../img/our-costumers/taima-b.svg"); }
#siplik-b{ content: url("../img/our-costumers/siplik-b.svg"); }
// AWARDS
#prodly-recognize{ content: url("../img/awards/prodly-recognize_FIX.svg"); }
#global-peace{ content: url("../img/awards/global-peace_FIX.svg"); }
#king-of-year{ content: url("../img/awards/king-of-year_FIX.svg"); }
#wedding-wire{ content: url("../img/awards/wedding-wire_FIX.svg"); }
#wedding-wire-black{ content: url("../img/awards/wedding-wire-black.svg"); }
#wedding-wire-point{ content: url("../img/awards/wedding-wire-point_FIX.svg"); }
#wedding-wire-point-b{ content: url("../img/awards/wedding-wire-point_black.svg"); }
#lwpi-b{ content: url("../img/awards/lwpi_black.svg"); width: 11.5% !important; }
#wedding-wire-awards{ content: url("../img/awards/wedding-wire-awards_FIX.svg"); }
#wedding-wire-awards-b{ content: url("../img/awards/wedding-wire-awards_black.svg"); }
#better-business-bureau{ content: url("../img/awards/better-business-bureau.svg"); }
#glenview-award-2012{ content: url("../img/awards/glenview-award-2012.svg"); }
#burgerliscios{ content: url("../img/awards/burgerliscios.svg"); }
// SOME PARTNERS
#teachlr{ content: url("../img/some-partners/teachlr.svg"); }
#intraffic{ content: url("../img/some-partners/intraffic.svg"); }
#city{ content: url("../img/some-partners/city.svg"); }
#vikua{ content: url("../img/some-partners/vikua.svg"); }
#taima{ content: url("../img/some-partners/taima.svg"); }
#siplik{ content: url("../img/some-partners/siplik.svg"); }
//
#arrow-down{ content: url("../img/bmw-logo/arrow-down.svg"); width: 1.5% !important;}
#star{ content: url("../img/social-logo/star.svg"); font-size: 12px; }
#star-half{ content: url("../img/social-logo/star-half.svg"); font-size: 12px;}
#star-o{ content: url("../img/social-logo/star-o.svg"); }
