  .logo{
    &.large{
      width: 70% !important;
    }
    &.medium{
      width: 28% !important;
    }
    &.medium-client{
      width: 25% !important;
    }
    &.medium-dark{
      width: 60% !important;
    }
    &.small{
      width: 10% !important;
    }
    &.xsmall{
      width: 3% !important;
    }
    &.social{
      width: 5.5% !important;
    }
    &.awards{
    max-height: 100px;
    // filter: invert(100%);
      &.large{
         max-height: 110px;
      }
    }
    &.partners{
    max-height: 48px !important;
    // filter: invert(100%);
      &.width{
         width: 13% !important;
      }
    }
    &.costumers{
    max-height: 50px !important;
    // filter: invert(100%);
      &.width{
         width: 30% !important;
      }
    }
    &.why-bmw{
      display: block;
      text-align: center;
      margin: auto;
      width: 20% !important;
    }
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;}

  .fa-star{
      font-size: 1em;
      color: #ff9933;
  }

  .checked {
    color: orange;
}