.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
  // background: $color-button;
  font-family: 'Glyphicons Halflings';
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 10px;
  width: 24px;
  text-decoration: none;
  &:hover{
    color: $color-background-dark;
  }
}
.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog {
  & div {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}}
// .close {
//   // background: $color-button;
//   font-family: 'Glyphicons Halflings';
//   color: #FFFFFF;
//   line-height: 25px;
//   position: absolute;
//   right: 20px;
//   text-align: center;
//   top: 10px;
//   width: 24px;
//   text-decoration: none;
//   &:hover{
//     color: $color-background-dark;
//   }
// }
