.navbar{
    .nav-link{
        letter-spacing: 1.6px;
    }
    .nav-item{
        padding: 0px 30px;
    }
    #contact-tab, #about-tab,#home-tab, #profile-tab{
        margin-top: -10px;
        padding: 25px 20px 25px 20px;
    }
    #contact-tabc,#home-tabc, #profile-tabc{
        margin-top: 0px;
        padding: 25px 20px 25px 20px;
    }
    #contact-tab.active, #about-tab.active{
        background: $color-footer-dark;
        color: $color-background-light !important;
    }
    #home-tab.active, #profile-tab.active{
        background: $color-menu-princial;
        color: black !important;
    }
    #about.active{
        background: $color-footer-dark;
    }
}
// 
.sub-menu{
    .nav-item{
        padding: 10px 30px;
        @media (max-width: 1224px) {
            // &:not(:first-child){
                padding: 0px 5px;
            // }
            
        }
        &:hover{
            background: $color-background-light;
            a{
                color: $color-footer-dark !important;
            }
        }
    }
    .nav-link, .submenu-nav li{
        letter-spacing: 2.6px;
        @media (max-width: 1224px) {
            &:not(:first-child){
                letter-spacing: 1.3px;
            }
        }
    }
}
// 
.subnavbar{
    h5{
        letter-spacing: 0.8px;
        line-height: 26px;
    }
    .click-here{
        line-height: 28px;
    }
}

.sub-menu-wp{
   .nav{
        li{
        padding: 20px 20px;
        // @media (max-width: 1224px) {
        //     &:not(:first-child){
        //         padding: 0px 5px;
            }
        }
            a{
			    text-decoration:none !important;
        &:hover{
            background: $color-background-light;
            color: $color-footer-dark !important;
                font-weight:bold;
                
            }
        }
//     }
//   }
}
.inactiveLink {
   pointer-events: none;
   cursor: default !important;
    &:hover{background: $color-footer-dark!important;
            color: white !important;
                }
}