.rating-part{
    .score{
        font-size: 20px;
    }
    .source{
        font-size: 13px;
        font-weight: 900;
    }
    .reviews{
        font-size: 10px;
    }
	@media (min-width: $size-md) {
        .score{
            font-size: 45px;
        }
        .source{
            font-size: 25px;
            font-weight: 900;
        }
        .reviews{
            font-size: 14px;
        }
	}
}