/*
*   Modules dependencies
*/
@import "~bootstrap/scss/bootstrap";
@import "sizes";
@import "colors";
@import "custom";
@import "tipography";
@import "button";
@import "display";
@import "navbar";
@import "gallery";
@import "img-svg";
@import "logo";
@import "modal";
@import "gravityforms";
@import "custom-modal";
@import "google_maps";
@import "img_slider";
@import "jumbo";
@import "views/home";
@import "views/request";
@import "views/single-venue";
@import "views/page-venues";
@import "views/page-gallery";
@import "views/page-testimonials";
@import "views/page-planners";
@import "views/category-landings";

// TAGS
body {
	background-color: $color-grey-super-light;
}
a{
	color: $color-text-light;
}
input{
	border-radius: 0 !important;
}
.call-now{
	font-size: 21px;	
	a.phone-numer{
		font-size: 18px;	
		text-decoration: none;
	}
}
.bg-dark{ background: $color-footer-dark; color: white; }
// CLASS
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.element{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.center-vertical-div{
	margin: auto 0;
	width: 100%;
}
//
.center-div{
	margin: 0 auto;
	width: 100%;
}
//
.padding-all{
	padding: 20px 0 20px 0;
	&.l{
		padding: 40px 0 40px 0;
	}
}
//
.social-media-bar{
	background-color: $color-grey-light;
	// height: 100px;
	font-size:12px;
	.social-media-logos{
		font-size:2em !important;
		color:$color-text-dark;
	}
	.footer-socialmedia{
		padding-top: 11px;
		a{
			margin-right: 10px;
		}
	}
	.gfield{
		@media (min-width: $size-lg) {
			width: 200px;
		}
		@media (min-width: $size-xl) {
			width: 300px;
		}
    }
	.gfield_description.validation_message{
		display: none;
	}
    .gform_footer{
		input[type=submit]{
			padding: 7px 20px !important;
			@media (min-width: $size-md) {
				padding: 7px 40px !important;
			}
			@media (min-width: $size-lg) {
				padding: 7px 55px !important;
			}
		}
    }
}

.sticky-bar{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 5px;
	background-color: $color-background-dark;
	.btn-primary{
		margin-top: 5px;
		padding: 10px 28px;
    	font-size: 12px;
	}
	.phone{
		font-size: 12px;
		.color-dark{
			font-size: 16px;
		}
	}
}
//
.card{
	border: none;
	background: none;
	a{ color: black;}
	&.small{
		margin: 0;
		flex: none;
	}
	&.bg-1{
		background-color: $color-grey-super-light;
	}
	&.bg-2{
		background-color: $color-grey-light;
	}
	.card-img-top{
		background-size: cover;
		&.logo-costumer{
			height: 120px;
			width: 100px;;
		}
		&.logo-costumer-h{
			margin-top: 35px;
			height: 50px;
			width: 95px;
		}
	}
	.card-body{
		background-color: $color-grey-super-light;
		font-size: 15px;

	}
	.card-footer{
		background-color: $color-grey-super-light !important;
		border: none !important;
	}
}
//
.card-block{
	margin-bottom: 10px;
	.card-text{
		font-size: 13.4px;
		height: auto !important;
	}
}
//
.image-div{
	margin: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.wedding-packages-list{
	.image-div{
	  	@media (max-width: $size-sm) {
	  	  height: 100px;
	  	} 
	}
}
//
.img-center{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
//
.img-content{
	position: relative;
	height: 150px;
	padding: 0;
	.card-img-top{
		width: 50%;
	}
}
//
.bifor{
	position: relative;
	height: 100%;
}
//
.awards-recognition{
	background-color: $color-footer-dark;
	color: $color-text-light;
	display: flex;
	justify-content: center;
	padding: 55px;
	a{
		font-size: 12px;
	}
	p{
		font-size: 14px;
	}
	span{
		max-height: 150px;
		padding-left: 0;
		padding-right: 0;
	}
	&.page{

		.card-body{	background-color: $color-footer-dark;}
	}
	&.inverted{
		.logo{ filter: invert(100%);}
	}
}
//
.rounded-circle{
	width: 100%;
}
//
.floating-half{
	width: 50%;
	float: left;
}
//
.mobile-footer{
	font-size: 15.3px;
}
//
.fa-star,.fa-star-half{
	font-size:1em;
	color:$color-stars;
}
//
.subtitle-bar{
	background-color: $color-grey-light;
	color: $color-text-dark;
	&.dark{
		background-color: $color-footer-dark;
		color: $color-text-light;
	}
	&.light{
		background-color: $color-grey-super-light;
		color: $color-text-dark;
	}
	p{
		font-size: 14px;
	}
}
//
.photo-person{
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	.label{
		width: 100%;
		font-size: 14px;
		background-color:rgba(193,150,195,0.57);
		position:absolute;
		bottom:0px;
		color: $color-text-light;
	}
}
//
.testimonial-client{
	.media-body{
		font-size: 15px;
		&.card-text{
			height: 180px;
		  	@media (max-width: $size-sm) {
		  	  height: auto;
		  	} 
		}
	}
}
//
.foot-client{
	font-size: 12px;
	margin: 0;
}
//
.buttonCard{
	margin-top: -80px;
	position: relative;
	color: $color-text-light;
}
//
.row-fluid{
	&.awardsRecognition{
		margin-top: 90px;
	}
}
//
.form-group {
	display: flex;
	align-items: center;
}
//
.click-here{
	text-decoration: underline;
	color: $color-button;
	font-weight: normal;
	&:hover{
		color:grey;
	}
	&.color-light{
		color: $color-text-light !important;
	}
	&.color-dark{
		color: $color-text-dark !important;
	}
	&.menu-hover{
		text-decoration: none !important;
		&:hover{
			font-weight:bold;
			text-decoration:underline !important;
		}
	}
	&.img{
		text-decoration: none;
		font-weight: normal;
	}
}
.color-dark{
		color: $color-text-dark !important;
	}
//
.rounded{
	margin-right: 30px;
	margin-top: 10px;
}
//
.row{
	margin-right: 0px;
}
//
.lead{
	color: $color-text-dark;
	font-size: 14px;
	&.title{
		font-size: 20px;
		line-height: 1.5em;
	}
}
//
.p-5 {
	padding: 2rem !important;
}
//
.form-group {
	display: flex;
	align-items: center;
}
.text-purple{
	color:$color-button;
}
 //
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.jumbotron{
		background-size: 100% 100% ;
		background-position:center;
	}
	.mobile-footer{
		display: none;
		padding: 0;
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.jumbotronHome1{
		background-size: 110% 100% ;
		background-position:center;
	}
	.form-group,.group-images,.text-testimonial,.principal-footer{
		display: none;
	}
	.jumbobot{
		padding-top: 2rem;
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.jumbobot{
		padding-top: 3rem;
	}
	.jumbotron{
		height: 350px;
		background-repeat: no-repeat;
		&.jumbotron-standard{
			background-size: 150% ;
			background-position: center;
		}
		&.jumbotron-cover{
			background-size: cover;
			color: $color-text-light;
		}
	}

	.buttonCard{
		margin-top: 10px;
		color: $color-text-dark;
	}
	.row-fluid{
		&.awardsRecognition{
			margin-top: 0px;
		}
	}
	.awardsRecognition {
		height: 400px;
	}

	.card-text{

	}
	.img-group-1{
		margin-top: 20px;
	}
	.form-group,.group-images,.text-testimonial,.principal-footer{
		display: none;
	}
	.mr-3{
		float: left;
	}
	.media-body{
		text-align: left;
	}
	.home{
	    .card-middle-button{
	      margin-top: 0px;
	      color: $color-text-dark;
	    }
	}
	.subtitle-bar{
		background-color: $color-grey-super-light;
	}
	.footer-mobile{
		background-color:$color-button;
	}
	.rounded-circle{
	width:100%;
	}
	.card{
		&.bg-2{
			background-color: $color-grey-super-light;
		}
	}
	.tab-content{
	background-color:$color-grey-super-light;
	}

	.center-vertical-div {
	    margin-top: 0;
	}
	.body-request {
	    margin-top: 0;
	    background-image: none!important;
	    color: $color-text-dark;
	}
	.body-request {
		font-size: 16px;
		.info {
		    padding-top: 0 !important;
		}
	}

}

.footer-list{
	ul{
		padding: 0;
		margin: 0;
		li{
			list-style-type: none;
			margin-bottom: 5%;
		}
	}
}

.menu-list{
	ul{
		padding: 0;
		margin: 0;
		text-decoration: none !important;
		li{
			list-style-type: none;
			margin-bottom: 5%;
			a{
			 color: black !important;
				&:hover{
				font-weight:bold;
				text-decoration:underline !important;
				}
			}
		}
	}
}
.tab-content-dark{
	background-color:$color-grey-light;
}
.popoverText{font-size:16px};

.review-source-icons {
	img{
		max-width:40px;
		max-height:40px;
		margin-top:10px
	}
	
};

.review-source-icons{
	margin:0;
	padding:0
};

.review-source-icons {
	li{
		list-style:none
	}
};

.hover-effect{
	overflow: hidden;
	a.img-slide, .venue-thumb, a.img-mazonri{
		min-height: 300px;
	    @media (max-width: 767px) {
	        min-height: 200px;
	    }
	    @media (max-width: 400px) {
	        min-height: 100px;
	    }
	    -moz-transition: all .5s;
	    -webkit-transition: all .5s;
	    transition: all .5s;
	    -moz-transform: scale(1,1);
	    -webkit-transform: scale(1,1);
	    transform: scale(1,1);
	    background-position: center;
	}
} 

.hover-effect a.img-slide:hover,.hover-effect .venue-thumb:hover, a.img-mazonri:hover{
	&:before{
		content: ' ';
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.2);
	}
	-moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}